{% extends "base.html" %}

{% block content %}

<header id="UHMarkerplaceHeader">
    <h1>Textbooks</h1>
    <p>A place to buy, sell, or trade textbooks</p>
    <h5>Oldest to Newest Posts</h5>
</header>

<div>
    <ul>
        <a href="{% url 'uhmarketplace:createtextbook' %}">Post Your Textbook Here</a> ----
        {% if textbook_list %}
        <a href="{% url 'uhmarketplace:decorderDate' %}">Newest Posts</a> ----
        <a href="{% url 'uhmarketplace:ascorderDate' %}">Oldest Posts</a> ----
        <a href="{% url 'uhmarketplace:myTextbook' %}">My Posts</a> ----
        <a href="{% url 'uhmarketplace:searchtextbook' %}">Search Textbook</a>
        <br>
        <br>
        <br>
        {% for uhmarketplace in textbook_list %}
        <li>
            <h5>{{ uhmarketplace.book_title }}</h5>
            <p><b>Author:</b> {{ uhmarketplace.book_author }}</p>
            <p><b>Course</b>: {{ uhmarketplace.course }}</p>
            <p><b>Comments:</b></p>
            <p>{{ uhmarketplace.content}}</p>
            <h6><b>Published:</b> {{ uhmarketplace.published_date }}</h6>
            <h6><b>Posted by:</b> {{ uhmarketplace.created_by }}</h6>
            <span><a href="{% url 'uhmarketplace:updatetextbook' uhmarketplace.id %}">edit</a></span>
            <span><a href="{% url 'uhmarketplace:deletetextbook' uhmarketplace.id %}">delete</a></span>
        </li>
        <br>
        <br>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p style="text-align:center">No Posts.</p>
    {% endif %}

</div>

{%endblock %}