{% extends "base.html" %}

{% block content %}

<header id="UHMarkerplaceHeader">
    <h1>Textbooks</h1>
    <p>A place to buy, sell, or trade textbooks</p>
    <h3>Oldest to Newest Posts</h3>
</header>

<div style="text-align:center">
    <a href="{% url 'uhmarketplace:createtextbook' %}">Post Your Textbook Here</a>
    {% if textbook_list %}
    <ul>
        <div>
            <a href="{% url 'uhmarketplace:decorderDate' %}">Newest Posts</a> ----
            <a href="{% url 'uhmarketplace:myTextbook' %}">My Posts</a> ----
            <a href="{% url 'uhmarketplace:searchtextbook' %}">Search Textbook</a>   
        </div>  
        <br>
        <br>
        <br>      
        {% for uhmarketplace in textbook_list %}
        <li>
            <h4>{{ uhmarketplace.book_title }}</h4>
            <p><b>Author:</b> {{ uhmarketplace.book_author }}</p>
            <p><b>Course</b>: {{ uhmarketplace.course }}</p>
            <p><b>Comments:</b></p>
            <p>{{ uhmarketplace.content}}</p>
            <h6><b>Published:</b> {{ uhmarketplace.published_date }}</h6>
            <h6><b>Posted by:</b> {{ uhmarketplace.created_by }}</h6>
            <span><a href="{% url 'uhmarketplace:updatetextbook' uhmarketplace.id %}">edit</a></span>
            <span><a href="{% url 'uhmarketplace:deletetextbook' uhmarketplace.id %}">delete</a></span>
            </li>
            <br>
            <br>
            <br>
            {% endfor %}
    </ul>
    {% else %}
    <p style="text-align:center">No Posts.</p>
    {% endif %}

</div>

{%endblock %}
